:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}



header {
  background-image: url('public/assets/iteration-1/home-banner.png');
  width: 99vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #CE2829;
}

header div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

header img {
  padding: 20px;
  margin-top: 20px;

}

header p{
  font-family: segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FDC913;
  margin-bottom: 0%;
  font-size: x-large;

}

header h1{
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  line-height: 70px;
  font-size: 60px;
}

header a{
  margin-top: 30px;
  background-color: #FDC913 ;
  color:#292929;
  border-radius: 50px;
  padding: 10px 50px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}


.urunler-section{
  width: 100%;
  background-color: white;
  padding:20px 0px;
}

.urunler{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 300px;
}

.urunler div{
  display: flex;
  align-items: center;
}

.urunler a{
  margin: 0px 10px;
  color: black;
  text-decoration: none;
}

.siparis-ver-section{
  display: flex;
  flex-direction: row;
  background-color:#FAF7F2;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  
}

.siparis-ver {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#siparis1{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 30vw;
  height: 52vh;
  margin: 25px 5px;

} 

#siparis1 h2{ 
  color: white;
  font-size: 3.2rem;
  line-height: 50px;
  font-family: "Avenir";
  margin: 0px 30px;
  padding: 0;  
}

#siparis1 h2:first-child{ 
  margin-top: 30px;
}

#siparis1 h2:nth-child(2){ 
  margin-bottom: 20px;
}


#siparis1 p{
  margin: 0 30px;
  color: white;
  margin-bottom: 20px;
  font-size: large;
}

#siparis1 a{
  margin: 10px 30px;
  color: #CE2829;
  background-color: white;
  border-radius: 20px;
  font-size: small;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;

}

.siparis { 
  display: flex;
  flex-direction: column;

}


#siparis2 { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 10px 5px;
  width: 30vw;
  height: 25vh;
  

} 

#siparis2 h3{ 
  color: white;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 35px;
  margin: 0px 20px;
  padding: 0;  
}

#siparis2 h3:first-child{ 
  margin-top: 20px;
}

#siparis2 h3:nth-child(2){ 
  margin-bottom: 20px;
}


#siparis2 p {
  margin: 0 20px;
  color: white;
}

#siparis2 a{
  margin: 10px 20px;
  color: #CE2829;
  background-color: white;
  border-radius: 20px;
  font-size: small;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: bold;
}

#siparis3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("public/assets/iteration-2/cta/kart-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 0px 5px;
  margin-bottom: 15px;
  width: 30vw;
  height: 25vh;

}

#siparis3 h3{ 
  color:#292929;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 35px;
  margin: 0px 20px;
  padding: 0;  
}

span{
  color:#CE2829;
}

#siparis3 h3:first-child{ 
  margin-top: 20px;
}

#siparis3 h3:nth-child(2){ 
  margin-bottom: 20px;
}


#siparis3 p {
  margin: 0 20px;
  color: white;
}

#siparis3 a{
  margin: 10px 20px;
  color: #CE2829;
  background-color: white;
  border-radius: 20px;
  font-size: small;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
}

.yazi-section{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAF7F2;
  width: 100%;
  height: 20vh;
  line-height: 20px;
}

.yazi-section p{
color: #CE2829;
font-size: x-large;
margin-bottom: 0px;
}    

.yazi-section h2{ 
  color: #292929;
  font-size: 30px;
}

.menuler-section{
background-color: #FAF7F2;
height:10vh;
}

.menuler{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 300px;
}

.menuler div{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 7px 15px;
  border-radius: 40px;
}

.menuler a{
  color: #292929;
  text-decoration: none;
  margin-left: 5px;
}

#pizza{
  background-color: #292929;
}

#pizza a{
  color:white;
}








@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
